.menuBar
    ul.menuBar-list
        a(href=routes.home)
            li.menuBar-list__item Home
        a(href=`admin/${routes.products}`)
            li.menuBar-list__item Admin
        a(href=`admin/${routes.cart}`)
            li.menuBar-list__item CART
        a(href=`admin/${routes.chat}`)
            li.menuBar-list__item CHAT
        a(href=`admin/${routes.join}`)
            li.menuBar-list__item JOIN
        a(href=`admin/${routes.login}`)
            li.menuBar-list__item 로그인
        a(href=`admin/${routes.logout}`)
            li.menuBar-list__item 로그아웃